@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        /*font-size: 20px;*/
font-style: normal;
color: #888787;
/*margin-left: 20px;*/
}.flaticon-add63:before {
	content: "\e000";
}
.flaticon-expand:before {
	content: "\e001";
}
.flaticon-facebook55:before {
	content: "\e002";
}
.flaticon-headphones36:before {
	content: "\e003";
}
.flaticon-more3:before {
	content: "\e004";
}
.flaticon-social19:before {
	content: "\e005";
}
